.profile-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.dropdown-item-outline {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: var(--bs-secondary) 1px solid;
    border-radius: 0.375rem;
}

.dropdown-item-outline:hover {
    border: var(--bs-secondary) 1px solid;
    border-radius: 0.375rem;
    background-color: var(--bs-secondary);
    color: white;
}

.dropdown-item:hover {
    border: var(--bs-secondary) 1px solid;
    border-radius: 0.375rem;
}
